main > .format-protect-and-enhance-v03 {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .format-protect-and-enhance-v03 > .back-to-home-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .format-protect-and-enhance-v03 > .touchpoint-01 {
  position: absolute;
  left: 346;
  top: 304;
}

main > .format-protect-and-enhance-v03 > .touchpoint-02 {
  position: absolute;
  left: 1035;
  top: 304;
}

main > .format-protect-and-enhance-v03 > .touchpoint-01 {
  position: absolute;
  left: 85;
  top: 307;
}

main > .format-protect-and-enhance-v03 > .touchpoint-02 {
  position: absolute;
  left: 532;
  top: 307;
}

main > .format-protect-and-enhance-v03 > .touchpoint-03 {
  position: absolute;
  left: 978;
  top: 307;
}

main > .format-protect-and-enhance-v03 > .touchpoint-04 {
  position: absolute;
  left: 1426;
  top: 307;
}
