.super-cream > .home-section {
  background-image: url("../images/home-section.jpg");
  background-size: cover;
}

.super-cream > .about-the-product-section {
  background-image: url("../images/about-the-product-section.jpg");
  background-size: cover;
}

.super-cream > .key-ingredients-section {
  background-image: url("../images/key-ingredients-section.jpg");
  background-size: cover;
}

.super-cream > .how-to-use-section {
  background-image: url("../images/how-to-use-section.jpg");
  background-size: cover;
}

.super-cream > .ratings-and-reviews-section {
  background-image: url("../images/ratings-and-reviews-section.jpg");
  background-size: cover;
}

.super-cream > .goes-well-with-section {
  background-image: url("../images/goes-well-with-section.jpg");
  background-size: cover;
}

.super-cream > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 720px;
  left: 1030px;
}

.super-cream > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 590px;
  left: 1350px;
}
