main > .need-youthful-glow-v03 {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .need-youthful-glow-v03 > .back-to-home-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .need-youthful-glow-v03 > .touchpoint-01 {
  position: absolute;
  left: 65;
  top: 343;
}

main > .need-youthful-glow-v03 > .touchpoint-02 {
  position: absolute;
  left: 372;
  top: 343;
}

main > .need-youthful-glow-v03 > .touchpoint-03 {
  position: absolute;
  left: 699;
  top: 343;
}

main > .need-youthful-glow-v03 > .touchpoint-04 {
  position: absolute;
  left: 1025;
  top: 343;
}

main > .need-youthful-glow-v03 > .touchpoint-05 {
  position: absolute;
  left: 1341;
  top: 343;
}

main > .need-youthful-glow-v03 > .touchpoint-06 {
  position: absolute;
  left: 1567;
  top: 343;
}
