.pure-bright-clay-scrub > .home-section {
  background-image: url('../images/home-section.jpg');
  background-size: cover;
}

.pure-bright-clay-scrub > .about-the-product-section {
  background-image: url('../images/about-the-product-section.jpg');
  background-size: cover;
}

.pure-bright-clay-scrub > .key-ingredients-section {
  background-image: url('../images/key-ingredients-section.jpg');
  background-size: cover;
}

.pure-bright-clay-scrub > .how-to-use-section {
  background-image: url('../images/how-to-use-section.jpg');
  background-size: cover;
}

.pure-bright-clay-scrub > .ratings-and-reviews-section {
  background-image: url('../images/ratings-and-reviews-section.jpg');
  background-size: cover;
}

.pure-bright-clay-scrub > .goes-well-with-section {
  background-image: url('../images/goes-well-with-section.jpg');
  background-size: cover;
}

.pure-bright-clay-scrub > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 770px;
  left: 960px;
}

.pure-bright-clay-scrub > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 500px;
  left: 1650px;
}
