.aloe-vera-glass-skin-glow-toner > .home-section {
  background-image: url('../images/home-section.jpg');
  background-size: cover;
}

.aloe-vera-glass-skin-glow-toner > .about-the-product-section {
  background-image: url('../images/about-the-product-section.jpg');
  background-size: cover;
}

.aloe-vera-glass-skin-glow-toner > .key-ingredients-section {
  background-image: url('../images/key-ingredients-section.jpg');
  background-size: cover;
}

.aloe-vera-glass-skin-glow-toner > .how-to-use-section {
  background-image: url('../images/how-to-use-section.jpg');
  background-size: cover;
}

.aloe-vera-glass-skin-glow-toner > .ratings-and-reviews-section {
  background-image: url('../images/ratings-and-reviews-section.jpg');
  background-size: cover;
}

.aloe-vera-glass-skin-glow-toner > .goes-well-with-section {
  background-image: url('../images/goes-well-with-section.jpg');
  background-size: cover;
}

.aloe-vera-glass-skin-glow-toner > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 710px;
  left: 870px;
}
.aloe-vera-glass-skin-glow-toner > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 520px;
  left: 1310px;
}
.aloe-vera-glass-skin-glow-toner > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 410px;
  left: 1550px;
}
