main > .need-sun-care {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .need-sun-care > .back-to-home-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .need-sun-care > .touchpoint-01 {
  position: absolute;
  left: 477;
  top: 216;
}

main > .need-sun-care > .touchpoint-02 {
  position: absolute;
  left: 1053;
  top: 216;
}
