.white-beauty-facial-foam > .home-section {
  background-image: url("../images/home-section.jpg");
  background-size: cover;
}

.white-beauty-facial-foam > .about-the-product-section {
  background-image: url("../images/about-the-product-section.jpg");
  background-size: cover;
}

.white-beauty-facial-foam > .key-ingredients-section {
  background-image: url("../images/key-ingredients-section.jpg");
  background-size: cover;
}

.white-beauty-facial-foam > .how-to-use-section {
  background-image: url("../images/how-to-use-section.jpg");
  background-size: cover;
}

.white-beauty-facial-foam > .ratings-and-reviews-section {
  background-image: url("../images/ratings-and-reviews-section.jpg");
  background-size: cover;
}

.white-beauty-facial-foam > .goes-well-with-section {
  background-image: url("../images/goes-well-with-section.jpg");
  background-size: cover;
}

.white-beauty-facial-foam > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 700px;
  left: 930px;
}

.white-beauty-facial-foam > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 590px;
  left: 1230px;
}

.white-beauty-facial-foam > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 460px;
  left: 1550px;
}
