.whip-day-cream > .home-section {
  background-image: url("../images/home-section.jpg");
  background-size: cover;
}

.whip-day-cream > .about-the-product-section {
  background-image: url("../images/about-the-product-section.jpg");
  background-size: cover;
}

.whip-day-cream > .key-ingredients-section {
  background-image: url("../images/key-ingredients-section.jpg");
  background-size: cover;
}

.whip-day-cream > .how-to-use-section {
  background-image: url("../images/how-to-use-section.jpg");
  background-size: cover;
}

.whip-day-cream > .ratings-and-reviews-section {
  background-image: url("../images/ratings-and-reviews-section.jpg");
  background-size: cover;
}

.whip-day-cream > .goes-well-with-section {
  background-image: url("../images/goes-well-with-section.jpg");
  background-size: cover;
}

.whip-day-cream > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 850px;
  left: 600px;
}

.whip-day-cream > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 800px;
  left: 920px;
}

.whip-day-cream > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 740px;
  left: 1400px;
}

.whip-day-cream > .goes-well-with-section > .discover-product-button-04 {
  position: absolute;
  top: 670px;
  left: 1750px;
}
