main > .format-care-v03 {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .format-care-v03 > .back-to-home-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .format-care-v03 > .touchpoint-01 {
  position: absolute;
  left: 159;
  top: 177;
}

main > .format-care-v03 > .touchpoint-02 {
  position: absolute;
  left: 503;
  top: 177;
}
main > .format-care-v03 > .touchpoint-03 {
  position: absolute;
  left: 732;
  top: 177;
}
main > .format-care-v03 > .touchpoint-04 {
  position: absolute;
  left: 964;
  top: 177;
}
main > .format-care-v03 > .touchpoint-05 {
  position: absolute;
  left: 1196;
  top: 177;
}
main > .format-care-v03 > .touchpoint-06 {
  position: absolute;
  left: 1370;
  top: 177;
}
main > .format-care-v03 > .touchpoint-07 {
  position: absolute;
  left: 1598;
  top: 177;
}

main > .format-care-v03 > .touchpoint-08 {
  position: absolute;
  left: 159;
  top: 446;
}
main > .format-care-v03 > .touchpoint-09 {
  position: absolute;
  left: 401;
  top: 446;
}
main > .format-care-v03 > .touchpoint-10 {
  position: absolute;
  left: 639;
  top: 446;
}
main > .format-care-v03 > .touchpoint-11 {
  position: absolute;
  left: 876;
  top: 446;
}
main > .format-care-v03 > .touchpoint-12 {
  position: absolute;
  left: 1105;
  top: 446;
}
main > .format-care-v03 > .touchpoint-13 {
  position: absolute;
  left: 1333;
  top: 446;
}
main > .format-care-v03 > .touchpoint-14 {
  position: absolute;
  left: 1560;
  top: 446;
}

main > .format-care-v03 > .touchpoint-15 {
  position: absolute;
  left: 401;
  top: 752;
}
main > .format-care-v03 > .touchpoint-16 {
  position: absolute;
  left: 639;
  top: 752;
}
main > .format-care-v03 > .touchpoint-17 {
  position: absolute;
  left: 876;
  top: 752;
}
main > .format-care-v03 > .touchpoint-18 {
  position: absolute;
  left: 1105;
  top: 752;
}
