.orange-nectar-jelly-moisturizer > .home-section {
  background-image: url('../images/home-section.jpg');
  background-size: cover;
}

.orange-nectar-jelly-moisturizer > .about-the-product-section {
  background-image: url('../images/about-the-product-section.jpg');
  background-size: cover;
}

.orange-nectar-jelly-moisturizer > .key-ingredients-section {
  background-image: url('../images/key-ingredients-section.jpg');
  background-size: cover;
}

.orange-nectar-jelly-moisturizer > .how-to-use-section {
  background-image: url('../images/how-to-use-section.jpg');
  background-size: cover;
}

.orange-nectar-jelly-moisturizer > .ratings-and-reviews-section {
  background-image: url('../images/ratings-and-reviews-section.jpg');
  background-size: cover;
}

.orange-nectar-jelly-moisturizer > .goes-well-with-section {
  background-image: url('../images/goes-well-with-section.jpg');
  background-size: cover;
}

.orange-nectar-jelly-moisturizer > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 710px;
  left: 870px;
}
.orange-nectar-jelly-moisturizer > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 550px;
  left: 1200px;
}
.orange-nectar-jelly-moisturizer > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 400px;
  left: 1520px;
}
