.orange-nectar-glass-skin-glow-tower > .home-section {
  background-image: url('../images/home-section.jpg');
  background-size: cover;
}

.orange-nectar-glass-skin-glow-tower > .about-the-product-section {
  background-image: url('../images/about-the-product-section.jpg');
  background-size: cover;
}

.orange-nectar-glass-skin-glow-tower > .key-ingredients-section {
  background-image: url('../images/key-ingredients-section.jpg');
  background-size: cover;
}

.orange-nectar-glass-skin-glow-tower > .how-to-use-section {
  background-image: url('../images/how-to-use-section.jpg');
  background-size: cover;
}

.orange-nectar-glass-skin-glow-tower > .ratings-and-reviews-section {
  background-image: url('../images/ratings-and-reviews-section.jpg');
  background-size: cover;
}

.orange-nectar-glass-skin-glow-tower > .goes-well-with-section {
  background-image: url('../images/goes-well-with-section.jpg');
  background-size: cover;
}

.orange-nectar-glass-skin-glow-tower > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 710px;
  left: 870px;
}
.orange-nectar-glass-skin-glow-tower > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 530px;
  left: 1280px;
}
.orange-nectar-glass-skin-glow-tower > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 410px;
  left: 1550px;
}
