.watermelon-hyaluron-serum > .home-section {
  background-image: url('../images/home-section.jpg');
  background-size: cover;
}

.watermelon-hyaluron-serum > .about-the-product-section {
  background-image: url('../images/about-the-product-section.jpg');
  background-size: cover;
}

.watermelon-hyaluron-serum > .key-ingredients-section {
  background-image: url('../images/key-ingredients-section.jpg');
  background-size: cover;
}

.watermelon-hyaluron-serum > .how-to-use-section {
  background-image: url('../images/how-to-use-section.jpg');
  background-size: cover;
}

.watermelon-hyaluron-serum > .ratings-and-reviews-section {
  background-image: url('../images/ratings-and-reviews-section.jpg');
  background-size: cover;
}

.watermelon-hyaluron-serum > .goes-well-with-section {
  background-image: url('../images/goes-well-with-section.jpg');
  background-size: cover;
}

.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 72%;
  left: 23%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 65%;
  left: 33%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 66%;
  left: 45%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-04 {
  position: absolute;
  top: 62%;
  left: 53%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-05 {
  position: absolute;
  top: 57%;
  left: 61%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-06 {
  position: absolute;
  top: 62%;
  left: 71%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-07 {
  position: absolute;
  top: 58%;
  left: 80%;
}
.watermelon-hyaluron-serum > .goes-well-with-section > .discover-product-button-08 {
  position: absolute;
  top: 53%;
  left: 90%;
}
