main > .range {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .range > .back-to-home-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .range > .touchpoint-01 {
  position: absolute;
  left: 65;
  top: 236;
}

main > .range > .touchpoint-02 {
  position: absolute;
  left: 433;
  top: 236;
}

main > .range > .touchpoint-03 {
  position: absolute;
  left: 802;
  top: 236;
}

main > .range > .touchpoint-04 {
  position: absolute;
  left: 1169;
  top: 236;
}

main > .range > .touchpoint-05 {
  position: absolute;
  left: 1537;
  top: 236;
}

main > .range > .touchpoint-06 {
  position: absolute;
  left: 242;
  top: 624;
}

main > .range > .touchpoint-07 {
  position: absolute;
  left: 606;
  top: 624;
}

main > .range > .touchpoint-08 {
  position: absolute;
  left: 972;
  top: 624;
}

main > .range > .touchpoint-09 {
  position: absolute;
  left: 1339;
  top: 624;
}
