.eye-cream > .home-section {
  background-image: url('../images/home-section.jpg');
  background-size: cover;
}

.eye-cream > .about-the-product-section {
  background-image: url('../images/about-the-product-section.jpg');
  background-size: cover;
}

.eye-cream > .key-ingredients-section {
  background-image: url('../images/key-ingredients-section.jpg');
  background-size: cover;
}

.eye-cream > .how-to-use-section {
  background-image: url('../images/how-to-use-section.jpg');
  background-size: cover;
}

.eye-cream > .ratings-and-reviews-section {
  background-image: url('../images/ratings-and-reviews-section.jpg');
  background-size: cover;
}

.eye-cream > .goes-well-with-section {
  background-image: url('../images/goes-well-with-section.jpg');
  background-size: cover;
}

.eye-cream > .goes-well-with-section > .discover-product-button-01 {
  position: absolute;
  top: 819px;
  left: 689px;
}

.eye-cream > .goes-well-with-section > .discover-product-button-02 {
  position: absolute;
  top: 654px;
  left: 1075px;
}

.eye-cream > .goes-well-with-section > .discover-product-button-03 {
  position: absolute;
  top: 670px;
  left: 1401px;
}

.eye-cream > .goes-well-with-section > .discover-product-button-04 {
  position: absolute;
  top: 508px;
  left: 1654px;
}
