main > .range-glass-skin-claim-it-v03 {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .range-glass-skin-claim-it-v03 > .products {
  background-image: url('../images/products.png');
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  visibility: hidden;
}

main > .range-glass-skin-claim-it-v03 > .back-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-01 {
  position: absolute;
  top: 810;
  left: 17;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-02 {
  position: absolute;
  top: 693;
  left: 139;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-03 {
  position: absolute;
  top: 536;
  left: 330;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-04 {
  position: absolute;
  top: 830;
  left: 561;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-05 {
  position: absolute;
  top: 530;
  left: 584;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-06 {
  position: absolute;
  top: 412;
  left: 813;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-07 {
  position: absolute;
  top: 530;
  left: 982;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-08 {
  position: absolute;
  top: 691;
  left: 1194;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-09 {
  position: absolute;
  top: 339;
  left: 1167;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-10 {
  position: absolute;
  top: 430;
  left: 1358;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-11 {
  position: absolute;
  top: 555;
  left: 1592;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-12 {
  position: absolute;
  top: 195;
  left: 1530;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-13 {
  position: absolute;
  top: 386;
  left: 1682;
}

main > .range-glass-skin-claim-it-v03 > .products > .discover-product-button-14 {
  position: absolute;
  top: 143;
  left: 1730;
}
