main > .need-glass-skin-and-hydration-v03 {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .need-glass-skin-and-hydration-v03 > .back-to-home-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .need-glass-skin-and-hydration-v03 > .touchpoint-01 {
  position: absolute;
  left: 170;
  top: 212;
}

main > .need-glass-skin-and-hydration-v03 > .touchpoint-02 {
  position: absolute;
  left: 422;
  top: 212;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-03 {
  position: absolute;
  left: 673;
  top: 212;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-04 {
  position: absolute;
  left: 930;
  top: 212;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-05 {
  position: absolute;
  left: 1217;
  top: 212;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-06 {
  position: absolute;
  left: 1500;
  top: 212;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-07 {
  position: absolute;
  left: 292;
  top: 675;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-08 {
  position: absolute;
  left: 589;
  top: 675;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-09 {
  position: absolute;
  left: 890;
  top: 675;
}
main > .need-glass-skin-and-hydration-v03 > .touchpoint-10 {
  position: absolute;
  left: 1181;
  top: 675;
}
