main > .range-bright-now {
  background-image: url('../images/background.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

main > .range-bright-now > .products {
  background-image: url('../images/products.png');
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  visibility: hidden;
}

main > .range-bright-now > .back-container {
  position: absolute;
  top: 0;
  right: 0;
}

main > .range-bright-now > .products > .discover-product-button-01 {
  position: absolute;
  top: 725;
  left: 466;
}

main > .range-bright-now > .products > .discover-product-button-02 {
  position: absolute;
  top: 588;
  left: 1004;
}

main > .range-bright-now > .products > .discover-product-button-03 {
  position: absolute;
  top: 500;
  left: 1360;
}

main > .range-bright-now > .products > .discover-product-button-04 {
  position: absolute;
  top: 410;
  left: 1688;
}
